<div class="container py-4" *ngIf="summary && weeklyChartData; else loading">
    <div class="cards row g-3" *ngIf="summary">
        <div class="col-md-3">
            <app-card [title]="'Created Tasks'" [description]="summary.createdTasks.toString()" />
        </div>
        <div class="col-md-3">
            <app-card [title]="'Completed Tasks'" [description]="summary.completedTasks.toString()" />
        </div>
        <div class="col-md-3">
            <app-card [title]="'Pending Tasks'" [description]="summary.completionRate.toString() + '%'" />
        </div>
        <div class="col-md-3">
            <app-card [title]="'Overdue Tasks'" [description]="(summary.lastActivity | date:'shortDate') ?? 'N/A'" />
        </div>
    </div>

    <div class="col-md-12">
        <app-bar-chart [data]="weeklyChartData" />
    </div>
</div>

<ng-template #loading>
    <div class="d-flex justify-content-center align-items-center" style="height: 60vh;">
        <div class="spinner-border" role="status"></div>
    </div>
</ng-template>